:root {
    --header-height: 60px;
    --menu-width: 300px;
}

/* =============================================================================
    ADMIN
============================================================================= */

.admin-html {
    height: 100%;
    min-height: 100%;
}

.admin-body {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.admin-body .message {
    z-index: var(--app-zi-message);
    position: fixed;
    top: 70px;
    right: calc(-1 * (340px + (30px * 2)));
    width: 100%;
    max-width: calc(340px + (30px * 2));
    padding: 0 30px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity, right;
    transition-duration: .3s;
}

.admin-body .message.show {
    visibility: visible;
    opacity: 1;
    right: 0%;
    transition-duration: .3s;
}

.admin-body .message .alert {
    margin: 0;
    font-size: 0.9em;
}

/* =============================================================================
    ADMIN HEADER
============================================================================= */

.admin-header {
    z-index: var(--app-zi-header);
}

.admin-navbar-container {
    height: var(--header-height);
    min-height: var(--header-height);
    max-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* BRAND */

.admin-navbar-brand {
    display: block;
}

.admin-navbar-brand-img {
    display: block;
}

/* BUTTONS */

.admin-navbar-buttons {
    display: flex;
    align-items: center;
    height: 100%;
}

.admin-navbar-buttons-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-navbar-buttons-item:not(.admin-navbar-toggle-toggle) {
    min-width: var(--header-height);
}

.admin-navbar-buttons-item.admin-navbar-toggle-toggle {
    width: 28px;
}

.admin-navbar-buttons-button {
    height: 100%;
    width: 100%;
    user-select: none;
    display: block;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: var(--app-dark);
    border: 2px solid transparent;
}

.admin-navbar-buttons-button::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--app-dark);

    border-radius: 3px;

    transform: rotateZ(180deg);
    opacity: 0.5;

    transition-property: transform, opacity;
    transition-duration: var(--app-ts-fast);
  }

.admin-navbar-buttons-item.show .admin-navbar-buttons-button::after {
    transform: rotateZ(0deg);
    opacity: 1;
}

@media (max-width: 992px) {
    .admin-navbar-buttons {
        flex-direction: row-reverse;
    }

    .admin-navbar-buttons > .admin-navbar-buttons-item:first-child {
        margin-left: var(--bs-space-3);
    }

    .admin-navbar-buttons > *:not(:last-child) {
        margin-left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .admin-navbar-buttons > .admin-navbar-buttons-item:first-child {
        margin-right: var(--bs-space-3);
    }

    .admin-navbar-buttons > *:not(:last-child) {
        margin-right: 0;
    }
}

/* =============================================================================
    ADMIN DROP MENU
============================================================================= */

.app-dd-menu {
    background-color: var(--app-gray);
    padding: var(--bs-space-2);
}

/* NOTIFICATION */

.admin-drop-notification-empty {
    margin: 0;
    padding: var(--bs-space-2) 0;
    color: var(--bs-secondary);
    text-align: center;
}

.admin-navbar-dropdown-content {
    overflow-y: auto;
    max-height: 400px;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
}

@media (max-width: 576px) {
    .admin-navbar-dropdown-content {
        overflow-y: auto;
        max-height: 400px;
        width: 260px;
        min-width: 260px;
        max-width: 260px;
    }
}

/* =============================================================================
    ADMIN HEADER MENU
============================================================================= */

.admin-navbar-menu-container {
    z-index: var(--app-zi-menu);
}

.admin-navbar-menu {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--app-dark);
}

.admin-navbar-menu-container,
.admin-navbar-menu,
.admin-navbar-list-content,
.admin-navbar-list {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.admin-navbar-toggle-close {
    display: flex;
    justify-content: flex-end;
    padding: var(--bs-space-3);
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 1200px) {
    .admin-navbar-toggle-toggle {
        display: none;
    }
}

.admin-navbar-user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--bs-space-4);
    background-color: rgba(250,250,250,0.03);
}

.admin-navbar-user-img {
    border-radius: 100%;
}

.admin-navbar-user-img img {
    user-select: none;
    display: block;
    border-radius: 100%;
}

.admin-navbar-user-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-navbar-user-name {
    margin: 0;
    line-height: 1em;
    color: var(--bs-light);
    white-space: nowrap;
}

.admin-navbar-user-tasks {
    color: var(--bs-secondary);
    font-weight: 300;
    font-size: 0.9em;
    margin: 0;
    white-space: nowrap;
}

/* LIST */

.admin-navbar-list-content {
    overflow-y: auto;
}

.admin-navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.admin-navbar-list .admin-navbar-item:last-child {
    margin-top: auto;
}

.admin-navbar-link {
    padding: var(--bs-space-3) var(--bs-space-4);
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: background-color var(--app-ts-fast);
}

.admin-navbar-link.admin-navbar-signout {
    transition: background-color var(--app-ts-fast), color var(--app-ts-fast);
}

.admin-navbar-link,
.admin-navbar-link:link,
.admin-navbar-link:visited,
.admin-navbar-link:active {
    text-decoration: none;
    color: var(--bs-light);
}

.admin-navbar-link i {
    font-size: 1.2em;
    width: 1.9em;
}

.admin-navbar-link.admin-navbar-signout {
    color: var(--bs-danger);
    justify-content: center;
}

.admin-navbar-link.admin-navbar-signout i {
    width: 1.5em;
}

.admin-navbar-link:not(.active):hover {
    background-color: rgba(250,250,250,0.1);
}

.admin-navbar-link.admin-navbar-signout:hover {
    color: var(--bs-light);
    background-color: var(--bs-danger);
}

.admin-navbar-link.active {
    background-color: var(--bs-blue);
}

@media (max-width: 576px) {
    .admin-navbar-brand-img {
        height: 14px;
    }
}

@media (min-width: 576px) {
    .admin-navbar-brand-img {
        height: 20px;
    }
}

@media (max-width: 992px) {
    .admin-navbar-user-img {
        flex-basis: 60px;
    }

    .admin-navbar-user-img img {
        width: 60px;
        height: 60px;
    }

    .admin-navbar-user-desc {
        flex-basis: calc(100% - 60px - var(--bs-space-3));
    }

    .admin-navbar-user-name {
        font-size: 1.5em;
    }

    .admin-navbar-menu {
        width: 100%;
        height: 100%;
        max-width: 400px;
        grid-template-rows: auto auto 1fr;
    }
}

@media (min-width: 992px) {
    .admin-navbar-container {
        flex-direction: row-reverse;
    }

    .admin-header, .admin-main, .admin-footer-rights {
        padding: 0 var(--bs-space-4);
    }

    .admin-navbar-user-img {
        flex-basis: 70px;
    }

    .admin-navbar-user-img img {
        width: 70px;
        height: 70px;

    }

    .admin-navbar-user-desc {
        flex-basis: calc(100% - 70px - var(--bs-space-3));
    }

    .admin-navbar-user-name {
        font-size: 1.8em;
    }

    .admin-navbar-menu {
        width: var(--menu-width);
        grid-template-rows: auto 1fr;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .app-menu-toggle-ico {
        background-color: var(--app-dark);
    }

    .admin-navbar-menu {
        position: relative;
    }

    .admin-navbar-toggle-close {
        z-index: 0;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 80%;
        visibility: hidden;
        opacity: 0;

        transition-property: visibility, opacity, left;
        transition-duration: .3s;
        transition-delay: 1s;
    }

    .menu-show .admin-navbar-menu-container:hover .admin-navbar-toggle-close {
        visibility: visible;
        left: 100%;
        opacity: 1;
        transition-delay: 0s;
    }

    .admin-navbar-user {
        position: relative;
        z-index: 1;
    }
}

@media (min-width: 1200px) {
    .admin-navbar-toggle-close {
        display: none;
    }
}

/* =============================================================================
    ADMIN HEADER MENU SHOW
============================================================================= */

@media (max-width: 992px) {
    .admin-navbar-menu-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        transition-property: right;
        transition-delay: var(--app-ts-fast);
    }

    .menu-show .admin-navbar-menu-container {
        right: 0%;
        transition-delay: 0s;
    }

    .admin-navbar-menu-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);
        transition: background-color var(--app-ts-fast);
    }

    .menu-show .admin-navbar-menu-back {
        background-color: rgba(0,0,0,0.6);
    }

    .admin-navbar-menu {
        position: absolute;
        top: 0;
        right: -100%;
        transition-property: right;
        transition-duration: var(--app-ts-fast);
    }

    .menu-show .admin-navbar-menu {
        right: 0%;
    }
}

@media (min-width: 992px) {
    .admin-navbar-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    }

    .admin-header, .admin-main, .admin-footer-rights {
        transition-property: margin-left, padding;
        transition-duration: var(--app-ts-fast);
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .admin-navbar-menu-container {
        left: -100%;
        transition: left var(--app-ts-fast);
    }

    .menu-show .admin-navbar-menu-container {
        left: 0%;
    }
}

@media (min-width: 1200px) {
    .admin-navbar-menu-container {
        left: 0;
    }

    .admin-header,
    .admin-main,
    .admin-footer-rights {
        margin-left: var(--menu-width);
    }
}

/* =============================================================================
    ADMIN MAIN
============================================================================= */

.admin-main {
    z-index: var(--app-zi-main);
    margin-bottom: calc(var(--bs-space-5) * 1.5);
}

/* =============================================================================
    ADMIN FOOTER
============================================================================= */

@media (max-width: 992px) {
    .admin-footer-rights-p {
        font-size: 0.875em;
    }
}

/* =============================================================================
    ADMIN USERS
============================================================================= */

.admin-users-card {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    transition: box-shadow .3s;
}

.admin-users-card:hover {
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 20%);
}

.admin-users-card-img {
    height: 72px;
    border-radius: 100%;
    user-select: none;
}

.admin-users-card-name {
    font-size: 1.25em;
}

.admin-users-card-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.admin-users-card-info {
    font-size: 0.8em;
    color: var(--bs-secondary);
}

.admin-users-card-info i {
    width: 1.2em;
    text-align: center;
    margin-right: var(--bs-space-2);
}

.admin-users-card-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .admin-users-card-email {
        max-width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .admin-users-card-email {
        max-width: 200px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .admin-users-card-email {
        max-width: 140px;
    }
}

@media (min-width: 1200px) {
    .admin-users-card-email {
        max-width: 200px;
    }
}

.admin-users-card-button {
    display: block;
    padding: 0.375rem 0.375rem;
    width: 100%;
    color: var(--bs-secondary);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.admin-users-card-button:not(:disabled):hover {
    cursor: pointer;
}

.admin-users-card-remove:not(:disabled):hover {
    color: var(--bs-danger);
}

.admin-users-card-edit:not(:disabled):hover {
    color: var(--bs-primary);
}

.admin-users-card-caution:hover {
    color: var(--bs-warning);
}
