textarea.form-control {
    border-radius: $border-radius * 3;
}

textarea.form-control-sm {
    border-radius: $border-radius-sm * 3;
}

textarea.form-control-lg {
    border-radius: $border-radius-lg * 3;
}
