.app-loading {
    z-index: var(--app-zi-loading);
    position: fixed;
    left: 1000%;
    bottom: 1000%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition-property: visibility, left, bottom;
    transition-delay: .3s;
}

.app-loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color .3s;
}

.app-loading.show {
    visibility: visible;
    left: 0%;
    bottom: 0%;
    transition-delay: 0s;
}

.show.app-loading::before {
    background-color: rgba(0,0,0,.6);
}

.app-loading-content {
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .3s;
}

.app-loading.show .app-loading-content {
    opacity: 1;
}

.app-loading-spinner {
    height: 3rem;
    width: 3rem;
    color: var(--bs-primary);
}

.app-loading-text {
    color: var(--bs-light);
    font-size: 1.2rem;
    margin-left: var(--bs-space-3);
}
