:root {
    --header-height: 60px;
    --menu-close-width: 70px;
    --menu-open-width: 300px;
}

/* =============================================================================
    APP HEADER
============================================================================= */

.app-header {
    background-color: var(--app-dark);
}

.app-navbar-container {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-navbar-brand {
    display: block;
}

.app-navbar-brand-img {
    display: block;
    height: 20px;
}

.app-navbar-menu-container {
    height: 100%;
}

.app-navbar-buttons {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.app-navbar-buttons-item {
    height: 100%;
}

.app-navbar-dropdown-content {
    max-height: 400px;
    min-width: 300px;
    overflow-y: auto;
}

.app-navbar-buttons-item-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0 12px;
    margin: 0;
    height: 100%;
    min-width: var(--header-height);
    color: var(--bs-light);
    text-wrap: nowrap;
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.app-navbar-buttons-item:not(.show) .app-navbar-buttons-item-button:hover {
    background-color: rgba(250,250,250,0.05);
}

.app-dropdown.show .app-navbar-buttons-item-button {
    background-color: var(--app-gray);
}

.app-navbar-buttons-profile-img {
    width: calc(var(--header-height) * 0.5);
    height: calc(var(--header-height) * 0.5);
    border-radius: 30rem;
}

.app-navbar-buttons-profile-name {
    font-weight: 300;
    margin-left: var(--bs-space-2);
}

.app-navbar-buttons-item-button *:not(.app-navbar-buttons-profile-name) {
    font-size: calc(var(--header-height) * 0.36);
}

.app-navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--menu-close-width);
    background-color: var(--bs-primary);
    transition-property: width;
    transition-duration: 0.5s;
}

.menu-show .app-navbar-menu {
    width: var(--menu-open-width);
}

@media (max-width: 576px) {
    .app-navbar-brand-img {
        height: 14px;
    }
}

.app-navbar-menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    text-decoration: none;
    color: var(--bs-light);
}

.app-navbar-menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.app-navbar-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    color: var(--bs-light);
}

/* =============================================================================
    APP MAIN
============================================================================= */

.app-main {
    z-index: var(--app-zi-main);
}


/* =============================================================================
    APP FOOTER
============================================================================= */

.app-footer-rights-p {
    border-top: 1px solid rgba(0,0,0,0.2);
    padding: var(--bs-space-3) var(--bs-space-4);
}


/* =============================================================================
    APP FORM
============================================================================= */

.app-form div {
    transition: width 0.3s;
}


@media (min-width: 992px) {
    .app-header-content,
    .app-main {
        margin-left: var(--menu-close-width);
        transition-property: margin-left;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
    }

    .menu-show .app-header-content,
    .menu-show .app-main {
        margin-left: var(--menu-open-width);
    }
}


/* =============================================================================
    APP PROFILE
============================================================================= */

.app-profile-image {
    display: inline-block;
    width: 160px;
    height: 160px;
    padding: 3px;
    border-radius: 100%;
    border: 4px solid var(--bs-glass);
}

.app-profile-image-label {
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.app-profile-image-label::before {
    display: block;
    content: '\f030';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
}

.app-profile-image-img {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .app-profile-image {
        position: relative;
    }

    .app-profile-image-label::before {
        color: var(--app-dark);
        font-size: 2.5em;
        line-height: 1em;
        top: -6px;
        right: -1.1em;
    }

    .app-profile-image-img {
        border-radius: 100%;
    }
}

@media (min-width: 992px) {
    .app-profile-image-label {
        position: relative;
        overflow: hidden;
        border-radius: 100%;
    }

    .app-profile-image-label::before {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        font-size: 3em;
        color: var(--bs-light);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.3);
        opacity: 0;
        transition: opacity .3s;
    }

    .app-profile-image-label:hover::before {
        opacity: 1;
    }
}
