:root {
    --header-height: 60px;
    --menu-hide-width: 70px;
    --menu-show-width: 300px;
    --menu-sm-max-width: 380px;
    --buttons-height: 80px;
}

/* =============================================================================
    APP HEADER
============================================================================= */

.app-header {
    background-color: var(--app-dark);
}

.app-navbar-container {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-navbar-brand {
    display: block;
}

.app-navbar-brand-img {
    display: block;
    height: 20px;
}

.app-navbar-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.2);
    transition-delay: var(--app-ts-fast);
}

.app-navbar-menu-toggle-content {
    height: 100%;
    min-width: var(--menu-hide-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-navbar-item.active .app-navbar-link {
    background-color: rgba(250,250,250,0.16);
}

@media (max-width: 576px) {
    .app-navbar-brand-img {
        height: 14px;
    }
}

/* =============================================================================
    APP DROP MENUS
============================================================================= */

.app-dd-menu {
    background-color: var(--app-gray);
    /* padding: var(--bs-space-2); */
}

/* PROFILE */

.app-drop-profile-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--bs-space-3);
}

.app-drop-profile-img-container {
    flex-basis: 90px;
}

.app-drop-profile-img-link,
.app-drop-profile-img {
    display: block;
    border-radius: 200rem;
}

.app-drop-profile-img {
    width: 90px;
    height: 90px;
}

.app-drop-profile-name-container {
    flex-basis: 185px;
    margin-left: var(--bs-space-2);
}

.app-drop-profile-name {
    display: block;
    color: var(--bs-light);
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0;
}

.app-drop-profile-email {
    display: block;
    color: var(--bs-secondary);
    font-weight: 300;
    width: 185px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.app-drop-profile-actions {
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.app-drop-profile-actions-item {
    flex-basis: 50%;
}

.app-drop-profile-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--bs-light);
    text-decoration: none;
    transition: background-color var(--app-ts-fast), color var(--app-ts-fast);
}

.app-drop-profile-action i {
    font-size: 1.1em;
    margin-right: var(--bs-space-2);
}

.app-drop-profile-conf:hover {
    background-color: rgba(0,0,0,0.2);
}

.app-drop-profile-conf.active {
    background-color: var(--bs-primary);
}

.app-drop-profile-signout:not(.active) {
    color: var(--bs-danger);
}

.app-drop-profile-signout:hover {
    color: var(--bs-light);
    background-color: var(--bs-danger);
}

/* NOTIFICATION */

.app-drop-notification-empty {
    margin: 0;
    padding: var(--bs-space-2) 0;
    color: var(--bs-secondary);
    text-align: center;
}

.app-navbar-dropdown-content {
    overflow-y: auto;
}

@media (max-width: 992px) {
    .app-navbar-dropdown-content {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .app-navbar-dropdown-content {
        max-height: 400px;
        min-width: 300px;
    }

    .app-drop-profile-actions {
        overflow: hidden;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}
/* =============================================================================
    APP HEADER MENU
============================================================================= */

@media (max-width: 992px) {
    .app-navbar-menu-container {
        z-index: var(--app-zi-menu);
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .app-navbar-menu-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .app-navbar-menu-field {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        max-width: var(--menu-sm-max-width);
        background-color: var(--app-sky);
        display: grid;
        grid-template-rows: 1fr var(--buttons-height);
        grid-template-columns: 1fr;
        grid-template-areas: "m"
                             "b";
    }

    .app-navbar-buttons {
        grid-area: b;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: var(--app-dark);
    }

    .app-navbar-buttons-item {
        flex-basis: 33.33%;
        height: 100%;
        min-width: calc(var(--buttons-height) - 10px);
    }

    .app-navbar-buttons-item-button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-size: calc(var(--buttons-height) * 0.30);
        color: var(--bs-light);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color var(--app-ts-fast);
    }

    .app-dd.show .app-navbar-buttons-item-button {
        background-color: var(--app-gray);
    }

    .app-navbar-buttons-profile-img {
        height: calc(var(--buttons-height) * 0.45);
        border-radius: 30rem;
    }

    .app-navbar-buttons .app-navbar-buttons-item.app-dd.show .app-dd-menu {
        width: 100%;
        max-width: var(--menu-sm-max-width);
        position: fixed;
        top: unset;
        left: unset;
        bottom: calc(var(--buttons-height) - 1px);
        right: 0;
        max-height: calc(100% - var(--buttons-height) - var(--header-height) + 1px);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .app-navbar-menu {
        grid-area: m;
        height: 100%;
        max-height: 100%;
        display: grid;
        grid-template-rows: var(--header-height) 1fr;
        grid-template-columns: 1fr;
    }

    .app-navbar-list-content {
        overflow-y: auto;
    }

    .app-navbar-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .app-navbar-list .app-navbar-item:not(:first-child) .app-navbar-link {
        border-top: 1px solid rgba(250,250,250,0.08);
    }

    .app-navbar-list .app-navbar-item.active .app-navbar-link {
        border-top: none;
    }

    .app-navbar-link {
        display: block;
        color: var(--bs-light);
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .app-navbar-link-icon {
        height: calc(var(--header-height) * 1);
        width: calc(var(--header-height) * 1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(var(--header-height) * 0.35);
    }

    .app-navbar-link-name {
        font-weight: 300;
    }

    .app-navbar-menu-container,
    .app-navbar-menu-field,
    .app-navbar-menu,
    .app-navbar-list-content,
    .app-navbar-list {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }
}

@media (min-width: 992px) {
    .app-navbar-menu-container {
        height: 100%;
    }

    .app-navbar-menu-show {
        display: none;
    }

    .app-navbar-buttons {
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .app-navbar-buttons-item {
        height: 100%;
    }

    .app-navbar-buttons-item-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 0 12px;
        margin: 0;
        height: 100%;
        min-width: var(--header-height);
        color: var(--bs-light);
        white-space: nowrap;
        text-decoration: none;
        transition-property: background-color, color;
        transition-duration: var(--app-ts-fast);
    }

    .app-navbar-buttons-item:not(.show) .app-navbar-buttons-item-button:hover {
        background-color: rgba(250,250,250,0.05);
    }

    .app-dd.show .app-navbar-buttons-item-button {
        background-color: var(--app-gray);
    }

    .app-dd .app-navbar-buttons-item-button::after {
        content: "";
        display: block;
        margin-left: 5px;
        width: 0;
        height: 0;

        position: relative;
        left: 2px;

        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid var(--bs-light);

        border-radius: 3px;

        transform: rotateZ(180deg);
        opacity: 0.5;

        transition-property: transform, opacity;
        transition-duration: var(--app-ts-fast);
    }

    .app-dd.show .app-navbar-buttons-item-button::after {
        transform: rotateZ(0deg);
        opacity: 1;
    }


    .app-navbar-buttons-profile-img {
        width: calc(var(--header-height) * 0.5);
        height: calc(var(--header-height) * 0.5);
        border-radius: 30rem;
    }

    .app-navbar-buttons-item-button *:not(.app-navbar-buttons-profile-name) {
        font-size: calc(var(--header-height) * 0.36);
    }

    .app-navbar-menu-field {
        height: 100%;
    }

    .app-navbar-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: var(--menu-hide-width);
        background-color: var(--app-sky);

        display: grid;
        grid-template-rows: var(--header-height) 1fr;
        grid-template-columns: 1fr;
    }

    .app-navbar-list-content {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .app-navbar-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .app-navbar-link {
        display: flex;
        align-items: center;
        color: var(--bs-light);
        position: relative;
        text-decoration: none;
        transition: background-color var(--app-ts-fast);
    }

    .app-navbar-link:hover {
        background-color: rgba(250,250,250,0.08);
    }

    .app-navbar-link-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--header-height);
        min-width: calc(var(--menu-hide-width) + 1px);
        font-size: calc(var(--menu-hide-width) * 0.35);
    }

    .app-navbar-menu,
    .app-navbar-list-content,
    .app-navbar-list {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }
}

/* =============================================================================
    APP HEADER MENU SHOW
============================================================================= */

@media (max-width: 992px) {
    body.menu-show {
        overflow: hidden;
    }

    .app-navbar-menu-container {
        right: -100%;
        transition-delay: var(--app-ts-fast);
    }

    .menu-show .app-navbar-menu-container {
        right: 0;
        transition-delay: 0s;
    }

    .app-navbar-menu-back {
        background-color: rgba(0,0,0,0);
        transition: background-color var(--app-ts-fast);
    }

    .menu-show .app-navbar-menu-back {
        background-color: rgba(0,0,0,0.4);
    }

    .app-navbar-menu-field {
        right: -100%;
        transition: right var(--app-ts-fast);
    }

    .menu-show .app-navbar-menu-field {
        right: 0;
    }

    .app-menu-toggle[data-menu-toggle="toggle"],
    .app-menu-toggle[data-menu-toggle="toggle"] .app-menu-toggle-ico {
        transition: 0s;
        transition-delay: var(--app-ts-fast);
    }

    .menu-show .app-menu-toggle[data-menu-toggle="toggle"],
    .menu-show .app-menu-toggle[data-menu-toggle="toggle"] .app-menu-toggle-ico {
        transition-delay: 0s;
    }
}

@media (min-width: 992px) {
    .app-navbar-menu {
        transition-property: width;
        transition-duration: var(--app-ts-fast);
        transition-delay: var(--app-ts-fast);
    }

    .menu-show .app-navbar-menu {
        width: var(--menu-show-width);
        transition-delay: 0s;
    }

    body:not(.menu-show) .app-navbar-list-content::-webkit-scrollbar {
        width: 0;
    }

    .app-menu-toggle[data-menu-toggle="toggle"],
    .app-menu-toggle[data-menu-toggle="toggle"] .app-menu-toggle-ico {
        transition-delay: calc(var(--app-ts-fast) * 2);
    }

    .menu-show .app-menu-toggle[data-menu-toggle="toggle"],
    .menu-show .app-menu-toggle[data-menu-toggle="toggle"] .app-menu-toggle-ico {
        transition-delay: var(--app-ts-fast);
    }

    .app-header-content,
    .app-main {
        margin-left: var(--menu-hide-width);
        transition-property: margin-left;
        transition-duration: var(--app-ts-fast);
    }

    .menu-show .app-header-content,
    .menu-show .app-main {
        margin-left: var(--menu-show-width);
        transition-delay: var(--app-ts-fast);
    }
}

/* =============================================================================
    APP MAIN
============================================================================= */

.app-main {
    z-index: var(--app-zi-main);
}

.app-body .message {
    z-index: var(--app-zi-message);
    position: fixed;
    top: 70px;
    right: calc(-1 * (340px + (30px * 2)));
    width: 100%;
    max-width: calc(340px + (30px * 2));
    padding: 0 30px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity, right;
    transition-duration: .3s;
}

.app-body .message.show {
    visibility: visible;
    opacity: 1;
    right: 0%;
    transition-duration: .3s;
}

.app-body .message .alert {
    margin: 0;
    font-size: 0.9em;
}


/* =============================================================================
    APP FORM
============================================================================= */

.app-form div:not(.form-message) {
    transition: width var(--app-ts-fast);
}

/* =============================================================================
    APP PROFILE
============================================================================= */

.app-profile-image {
    z-index: 0;
    display: inline-block;
    width: 160px;
    height: 160px;
    padding: 3px;
    border-radius: 100%;
    border: 4px solid var(--bs-glass);
}

.app-profile-image-label {
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.app-profile-image-label::before {
    display: block;
    content: '\f030';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
}

.app-profile-image-img {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .app-profile-image {
        position: relative;
    }

    .app-profile-image-label::before {
        color: var(--app-dark);
        font-size: 2.5em;
        line-height: 1em;
        top: -6px;
        right: -1.1em;
    }

    .app-profile-image-img {
        border-radius: 100%;
    }
}

@media (min-width: 992px) {
    .app-profile-image-label {
        position: relative;
        overflow: hidden;
        border-radius: 100%;
    }

    .app-profile-image-label::before {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        font-size: 3em;
        color: var(--bs-light);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.3);
        opacity: 0;
        transition: opacity var(--app-ts-fast);
    }

    .app-profile-image-label:hover::before {
        opacity: 1;
    }
}
